<div class="sidenav-content">
  <div class="card-header-container">
    <h4>NOTIFICATION</h4>
    <div class="icon-container">
      <mat-icon svgIcon="closeIcon"></mat-icon>
    </div>
  </div>
  <mat-card class="drawer-card">
    <mat-card-content>
      <p>content</p>
      <mat-icon svgIcon="ques"></mat-icon>
    </mat-card-content>
  </mat-card>
  <mat-card class="drawer-card">
    <mat-card-content>
      <p>
        content sedfgyhujklsjf icniohejdks; mzqapomsixpo;l/ amd;ixo ihsklaiX0OI
        JCDOCJOIFKP;LM[U
      </p>
      <mat-icon svgIcon="ques"></mat-icon>
    </mat-card-content>
  </mat-card>
</div>
