.sidenav-container {
  width: 100%;
  position: relative;
  margin-top: 12vh; /* Adjust as needed */
  z-index: 1001;
}

.sidenav {
  width: 20vw;
  background-color: #e7f4f9;
  color: white;
  z-index: 1001;
  position: fixed;
  top: 0;
}

.sidenav-content {
  padding: 0px;
}

.sidenav-content p {
  margin: 0;
  padding: 0 0 20px;
}

.sidenav-content button {
  color: white;
}
