.header-container {
  width: 100%;
  position: sticky;
  z-index: 1000;
  top: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e7f4f9;
  padding: 2vh 0.5vw;
  height: 8vh;

}

.logo {
  font-weight: bold;
  background-color: #e9ecef;
  padding: 0.5vh 0vw;
}

.icons {
  display: flex;
  align-items: center;
  padding: 0.5vh 0;
}

.icon {
  margin-right: 1.5vw;
  fill: #073c5a;
  height: auto;
}

.icon:hover {
  fill: #f9a634;
}

.legatrix-logo {
  margin-left: 3vw;
  height: 3.5vh;
}

.sidenav-container {
  width: 100%;
  position: relative;
  z-index: 1001;
}

.sidenav {
  width: 20vw;
  background-color: #e7f4f9;
  color: white;
  z-index: 1001;
  position: fixed;
  top: 0;
}



