// Common Variables
$background-color-header: #e7f4f9;
$background-color-logo: #e9ecef;
$icon-color: #073c5a;
$icon-hover-color: #f9a634;
$header-height: 8vh;
$logo-height: 3.5vh;
$sidenav-width: 20vw;
$z-index-header: 1000;
$z-index-sidenav: 1001;

// Common Mixins
@mixin header-style {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $background-color-header;
  padding: 2vh 0.5vw;
  height: $header-height;
}

@mixin icon-style($color, $hover-color) {
  fill: $color;
  
  &:hover {
    fill: $hover-color;
  }
}

// Styles
.header-container {
  width: 100%;
  position: sticky;
  z-index: $z-index-header;
  top: 0;
}

.header {
  @include header-style;
}

.logo {
  font-weight: bold;
  background-color: $background-color-logo;
  padding: 0.5vh 0vw;
}

.icons {
  display: flex;
  align-items: center;
  padding: 0.5vh 0;
}

.icon {
  margin-right: 1.5vw;
  @include icon-style($icon-color, $icon-hover-color);
  height: auto;
}

.legatrix-logo {
  margin-left: 3vw;
  height: $logo-height;
}

.sidenav-container {
  width: 100%;
  position: relative;
  z-index: $z-index-sidenav;
}

.sidenav {
  width: $sidenav-width;
  background-color: $background-color-header;
  color: white;
  z-index: $z-index-sidenav;
  position: fixed;
  top: 0;
}
