<div class="header-container">
  <header class="header">
    <div class="logo">
      <span>Company LOGO</span>
    </div>
    <div class="icons">
      <mat-icon
        class="icon"
        svgIcon="notification"
        (click)="openNotificationSidebar()"
        >notifications</mat-icon
      >
      <mat-icon class="icon" svgIcon="userIcon" (click)="toggleBurgerMenu()"
        >account_circle</mat-icon
      >

      <img
        src="logo1.png"
        alt="Logo"
        width="auto"
        height="40"
        class="d-inline-block align-text-top"
      />
    </div>
  </header>

  <!-- Burger Menu Component -->
  <app-burger-menu
    [isOpen]="showBurgerMenu"
    (close)="toggleBurgerMenu()"
  ></app-burger-menu>

  <!-- Notification Sidebar Component -->
  <app-notification-sidebar
    [isNotificationOpen]="isNotificationOpen"
    (closeNotification)="closeNotificationSidebar()"
  >
  </app-notification-sidebar>
</div>
