// Import the common styles
@import '../../style/common.scss';

// Header Styles
.header {
  @include flex-center;
  justify-content: flex-end;
  margin-right: 2vh;
  position: relative;

  mat-icon {
    @include mat-icon;
    color: $primary-color;
    margin-left: auto;
  }
}

// Task Card Styles
.task-card {
  @include card-style;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 20px auto;
}

// Card Header & Content
.card-header {
  @include form-group;
  margin-bottom: 10px;
}

.card-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

// Task Status
.task-status {
  @include flex-center;
  margin-bottom: 10px;
  font-size: $font-size-small;
}

// Status Indicator
.status-indicator {
  @include circle;
  border: none;
  margin-right: 5px;
}

@mixin status-color($color) {
  background-color: $color;
}

// Dynamic Status Colors
.status-1 { @include status-color(#4caf50); }
.status-2 { @include status-color(#ffa726); }
.status-3 { @include status-color(#8BC34A); }
.status-4 { @include status-color(#FF5722); }
.status-5 { @include status-color(#E91E63); }
.status-6 { @include status-color(#795548); }
.status-7 { @include status-color(#03A9F4); }
