<!-- User Management Component -->
<div class="container">
  <div class="row">
    <!-- User Form Section -->
    <div class="col-md-6">
      <div class="card mb-3">
        <div class="addusertitle">
          <h4 class="card-header">
            {{ selectedUser ? "Update User" : "Add New User" }}
          </h4>
          <mat-icon
            *ngIf="selectedUser"
            type="button"
            (click)="resetSelectedUser()"
            svgIcon="reset"
          ></mat-icon>
        </div>
        <div class="card-body">
          <form
            #userForm="ngForm"
            (ngSubmit)="selectedUser ? updateUser(userForm) : addUser(userForm)"
          >
            <!-- Email Field -->
            <div class="form-group">
              <label for="email">Email</label>
              <input
                type="email"
                id="email"
                class="form-control"
                [(ngModel)]="email"
                name="email"
                required
                #emailField="ngModel"
              />
              <div
                *ngIf="
                  emailField.invalid && (emailField.dirty || emailField.touched)
                "
                class="alert alert-danger"
              >
                <div *ngIf="emailField.errors?.['required']">
                  Email is required.
                </div>
                <div *ngIf="emailField.errors?.['email']">
                  Invalid email format.
                </div>
              </div>
            </div>
            <!-- Name Field -->
            <div class="form-group">
              <label for="name">Name</label>
              <input
                type="text"
                id="name"
                class="form-control"
                [(ngModel)]="name"
                name="name"
                required
                #nameField="ngModel"
              />
              <div
                *ngIf="
                  nameField.invalid && (nameField.dirty || nameField.touched)
                "
                class="alert alert-danger"
              >
                <div *ngIf="nameField.errors?.['required']">
                  Name is required.
                </div>
              </div>
            </div>
            <!-- Contact Number Field -->
            <div class="form-group">
              <label for="contact_Number">Contact Number</label>
              <input
                type="text"
                id="contact_Number"
                class="form-control"
                [(ngModel)]="contactNumber"
                name="contact_Number"
                required
                #contact_NumberField="ngModel"
              />
              <div
                *ngIf="
                  contact_NumberField.invalid &&
                  (contact_NumberField.dirty || contact_NumberField.touched)
                "
                class="alert alert-danger"
              >
                <div *ngIf="contact_NumberField.errors?.['required']">
                  Contact Number is required.
                </div>
              </div>
            </div>
            <!-- Role Field -->
            <div class="form-group">
              <label for="role">Role</label>
              <select
                id="role"
                class="form-control"
                [(ngModel)]="role"
                name="role"
                required
                #roleField="ngModel"
              >
                <option *ngFor="let roleOption of roles" [ngValue]="roleOption">
                  {{ roleOption }}
                </option>
              </select>
              <div
                *ngIf="
                  roleField.invalid && (roleField.dirty || roleField.touched)
                "
                class="alert alert-danger"
              >
                <div *ngIf="roleField.errors?.['required']">
                  Role is required.
                </div>
              </div>
            </div>
            <!-- Submit Button -->
            <button
              type="submit"
              class="btn btn-primary"
              [disabled]="userForm.invalid"
            >
              {{ selectedUser ? "Update User" : "Add User" }}
            </button>
          </form>
          <app-popup-box></app-popup-box>
        </div>
      </div>
    </div>
    <!-- User List Section -->
    <div class="col-md-6">
      <div class="back-card mb-3">
        <div class="card-header-container">
          <h4 class="card-header">Users</h4>
          <div class="icon-container">
            <mat-icon
              svgIcon="exportButton"
              (click)="openExportModal()"
            ></mat-icon>
            <app-exportDialogBox
              [selectedColumns]="selectedColumns"
              [allColumns]="allColumns"
              [data]="users"
            ></app-exportDialogBox>
            <mat-icon
              svgIcon="filterIcon"
              (click)="toggleFilterVisibility()"
            ></mat-icon>
            <app-pagination
              [currentPage]="currentPage"
              [totalPages]="totalPages"
              [itemsPerPage]="itemsPerPage"
              [totalItems]="totalItems"
              (pageChange)="onPageChange($event)"
              (itemsPerPageChange)="onItemsPerPageChange($event)"
            ></app-pagination>
          </div>
        </div>
        <div class="container">
          <app-usercard
            *ngFor="let user of pagedUsers"
            [user]="user"
            [toggleUserStatus]="toggleUserStatus.bind(this)"
            (click)="selectUserForUpdate(user)"
          ></app-usercard>
        </div>
        <div *ngIf="isFilterVisible">
          <app-filter
            [subParts]="filterSubParts"
            (close)="closeFilter()"
            (filterChange)="onFilterChange($event)"
          ></app-filter>
        </div>
      </div>
    </div>
  </div>
</div>
