@import '../../style/common.scss';

$primary-color84: rgba($primary-color, 0.84);

.container {
  max-width: 100%;
  margin: 0 auto;
  margin-top: 3.3vh;
}
// Card Styles
.card,
.back-card {
  @include card-style;
  margin-bottom: 2.5vh;
  margin-top: 3vh;
  overflow-y: scroll;
  scrollbar-width: none;
}

.card {
  width: 25vw;
  margin-left: -0.9vw;
  height: 71vh;
}

.back-card {
  background-color: $background-color;
  width: 63vw;
  margin-left: -19vw;
  height: 68vh;
}

// Card Header Styles
.card-header-container {
  @include card-header-container ;
  height: 9vh;
}

.card-header-container h4 {
  padding-left: 0.5vw;
}

.card-header {
  font-size: $font-size-large;
  font-weight: bold;
  color: $primary-color;
  background-color: transparent;
  border: none;
}

.icon-container {
  padding-right: 20px;
  padding-bottom: 20px;
 @include flex-center;
 font-weight: normal;
}

.icon-container mat-icon {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  @include mat-icon;
  width: 3vh;
  color: $primary-color;
}

.icon-container mat-icon.filter-applied {
  color: $highlight-color;
}

// File Upload Wrapper Styles
.file-upload-wrapper {
  position: absolute; // Or fixed, depending on your requirement
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000; // Adjust as needed
  background: $background-color; // Ensure the background is visible
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
