<div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card mb-3">
          <h5 class="card-header">Add New User</h5>
          <div class="card-body">
            <form (ngSubmit)="addUser()">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" class="form-control" [(ngModel)]="newUser.email" name="email" required>
              </div>
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" class="form-control" [(ngModel)]="newUser.name" name="name" required>
              </div>
              <div class="form-group">
                <label for="contact_Number">Contact Number</label>
                <input type="text" id="contact_Number" class="form-control" [(ngModel)]="newUser.contact_Number" name="contact_Number" required>
              </div>
              <div class="form-group">
                <label for="role">Role</label>
                <select id="role" class="form-control" [(ngModel)]="newUser.role" name="role" required>
                  <option *ngFor="let role of roles" [ngValue]="role">{{ role }}</option>
                </select>
              </div>
              <button type="submit" class="btn btn-primary">Add User</button>
            </form>
          </div>
        </div>
      </div>
      
      <div class="col-md-6">
        <div class="back-card mb-3">
          <h5 class="card-header">All Users</h5>
        <div class="container">
        <div class="custcard mb-3" *ngFor="let user of users">
          <div class="card-body">
            <div class="user-status" [ngClass]="{'active': user.isActive, 'inactive': !user.isActive}">
              {{ user.isActive ? 'Active' : 'Inactive' }}
            </div>
            <div class="user-details">
              <div class="detail user-id-bg" matTooltip="{{ user.userId }}">
                <small>User ID</small>
                <div class="truncate">{{ user.userId }}</div>
              </div>
              <div class="detail user-ids-bg" matTooltip="{{ user.name }}">
                <small>Name</small>
                <div class="truncate">{{ user.name }}</div>
              </div>
              <div class="detail user-ids-bg" matTooltip="{{ user.contact_Number }}">
                <small>Number</small>
                <div class="truncate">{{ user.contact_Number }}</div>
              </div>
              <div class="detail user-ids-bg" matTooltip="{{ user.email }}">
                <small>Email ID</small>
                <div class="truncate">{{ user.email }}</div>
              </div>
              <div class="detail user-ids-bg" matTooltip="{{ user.role }}">
                <small>Role</small>
                <div class="truncate">{{ user.role }}</div>
              </div>
              <div class="detail user-ids-bg">
                <small>{{ user.isActive ? 'Disable' : 'Enable' }}</small>
                <button class="btn btn-sm" [ngClass]="{'btn-success': user.isActive, 'btn-danger': !user.isActive}" (click)="toggleUserStatus(user)">
                  <i class="fas" [ngClass]="{'fa-user-times': user.isActive, 'fa-user-check': !user.isActive}"></i>
                </button>
              </div>
              <div class="detail user-ids-bg">
                <small>Modify</small>
                <button mat-icon-button class="btn btn-sm">
                  <mat-icon svgIcon="modify"></mat-icon>
                </button>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
      
  </div>


  