@import '../../style/common.scss';

$primary-color84: rgba($primary-color, 0.84);

.container {
  max-width: 100%;
  margin: 0 auto;
  margin-top: 3.3vh;
}
// Card Styles
.card,
.back-card {
  @include card-style;
  margin-bottom: 2.5vh;
  margin-top: 3vh;
  overflow-y: scroll;
  scrollbar-width: none;
}

.card {
  width: 25vw;
  margin-left: -0.9vw;
  height: 71vh;
}

.back-card {
  background-color: $background-color;
  width: 63vw;
  margin-left: -19vw;
  height: 68vh;
}

// Card Header Styles
.card-header-container {
  @include card-header-container ;
  height: 9vh;
}

.card-header-container h4 {
  padding-left: 0.5vw;
}

.card-header {
  font-size: $font-size-large;
  font-weight: bold;
  color: $primary-color;
  background-color: transparent;
  border: none;
}

// Form Styles
.form-group {
  @include form-group;
}

.form-control,
.custom-select {
  width: 100%;
  padding: 1.5vh;
  font-size: $font-size-medium;
  border: 1px solid $primary-color84;
  border-radius: 4px;
}

.custom-select-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.custom-select::-ms-expand {
  display: none;
}

.dropdownIcon {
  position: absolute;
  right: 5px;
  pointer-events: none;
  font-size: 18px;
  color: $primary-color;
}

.btn-primary {
  @include btn-style($tertiary-color);
  width: 100%;
}

.icon-container {
  padding-right: 20px;
  padding-bottom: 20px;
 @include flex-center;
}

.icon-container mat-icon {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  @include mat-icon;
  color: $primary-color;
}

.icon-container mat-icon.filter-applied {
  color: $highlight-color;
}

// User Status Styles
.user-status {
@include user-status;
  left: 10px;
  top: -4vh;
  &.active {
    background-color: $background-color-success;
  }
  &.inactive {
    background-color: $btn-danger-color;
  }
}

.user-details {
  @include grid;
  grid-template-columns: repeat(auto-fill, minmax(7vw, 1fr));
  gap: 1vw;
}

.detail {
  margin-top: -20px;
@include detail;
}

// Other Styles
.user-id-bg,
.user-ids-bg {
  background-color: $secondary-color;
  padding: 10px;
  border-radius: 4px;
}

.truncate {
@include Truncate;
}

// File Upload Wrapper Styles
.file-upload-wrapper {
  position: absolute; // Or fixed, depending on your requirement
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000; // Adjust as needed
  background: $background-color; // Ensure the background is visible
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
