/* Container Styles */
.container {
  max-width: 100%;
  margin: 0 auto;
}

/* Card Styles */
.card,
.back-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 2.5vh;
  margin-top: 3vh;
  overflow-y: scroll;
  scrollbar-width: none;
}

.card {
  width: 25vw;
  margin-left: -0.9vw;
  height: 68vh;
}

.back-card {
  background-color: #ffffff;
  width: 63vw;
  margin-left: -19vw;
  height: 68vh;
}

/* Adjust the card widths for smaller screens */
@media (max-width: 993px) {
  .card {
    width: 22vw;
    margin-left: 0.9vw;
    height: 68vh;
  }

  .back-card {
    background-color: #ffffff;
    width: 63vw;
    margin-left: -19vw;
    height: 68vh;
  }
}

/* Maintain width ratio for larger screens */
@media (min-width: 993px) {
  .card {
    width: 25vw;
    margin-left: -0.9vw;
    height: 68vh;
  }

  .back-card {
    background-color: #ffffff;
    width: 63vw;
    margin-left: -19vw;
    height: 68vh;
  }
}

.addusertitle {
  background-color: #e7f4f9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.addusertitle mat-icon {
  margin-right: 20px;
  width: 30px;
  height: auto;
}
.card-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e7f4f9;
  border-bottom: none;
  padding: px 15px;
}

.card-header-container h4 {
  padding-left: 20px;
}

.card-header {
  font-size: 18px;
  font-weight: bold;
  color: #073c5a;
  background-color: transparent;
  border: none;
}

/* Form Styles */
.form-group {
  font-size: 2vh;
  font-weight: 600;
  color: #073c5a;
  margin-bottom: 2vh;
}

.form-control,
.custom-select {
  width: 100%;
  padding: 1.5vh;
  font-size: 2vh;
  border: 1px solid #073c5a84;
  border-radius: 4px;
}

.custom-select-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.custom-select::-ms-expand {
  display: none;
}

.dropdownIcon {
  position: absolute;
  right: 5px;
  pointer-events: none;
  font-size: 18px;
  color: #073c5a;
}

.btn-primary {
  margin-top: 6vh;
  background-color: #12789e;
  border-color: #12789e;
  color: white;
  width: 100%;
}

.btn-primary:hover {
  background-color: #0a4357;
  border-color: #0a4357;
}

/* Icon Container Styles */
.icon-container {
  padding-right: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
}

.icon-container mat-icon {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  height: auto;
  color: #073c5a;
}

.icon-container mat-icon.filter-applied {
  color: #f9a634;
}

/* User Status Styles */
.user-status {
  position: relative;
  width: 6vw;
  top: -4vh;
  left: 10px;
  padding: 5px 10px;
  border-radius: 4px;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 1.7vh;
}

.user-status.active {
  background-color: #339a2d;
}

.user-status.inactive {
  background-color: #dc3545;
}

/* User Details Styles */
.user-details {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(7vw, 1fr));
  gap: 1vw;
  text-align: center;
}

.detail {
  margin-top: -20px;
  text-align: center;
  font-size: 2vh;
}

.detail small {
  display: block;
  font-size: 1.7vh;
  color: gray;
  text-align: center;
}

/* Other Styles */
.user-id-bg,
.user-ids-bg {
  background-color: #e7f4f9;
  padding: 10px;
  border-radius: 4px;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  display: block;
}

/* parent.component.css */
.file-upload-wrapper {
  position: absolute; /* Or fixed, depending on your requirement */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000; /* Adjust as needed */
  background: white; /* Ensure the background is visible */
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
