// Common Variables
$primary-color: #12789e;
$secondary-color: #073c5a;
$background-color: #fff;
$border-color: #ddd;
$box-shadow: 0 0 4px rgba(7, 60, 90, 0.2);
$modal-bg-color: #fff;
$modal-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
$font-size-base: 16px;
$font-size-small: 1rem; // 16px
$font-size-large: 1.25rem; // 20px
$font-size-xlarge: 1.125rem; // 18px
$font-size-xsmall: 2vh; // Variable for 2vh font-size

// Common Styles
.card-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e7f4f9;
  color: $secondary-color;
  padding: 5px 10px;
  height: 9vh;

  mat-icon {
    width: 20px;
    height: auto;
  }
}

.card {
  box-shadow: $box-shadow;
  height: 70vh;
  overflow-y: scroll;
  scrollbar-width: none;
  border-radius: 8px;
  padding-top: 4vh;
}

.restore-button {
  border: none;
  cursor: pointer;
  font-size: $font-size-base;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: $background-color;
  border: 2px solid $primary-color;
  color: $primary-color;

  mat-icon {
    width: 20px;
    height: auto;
  }
}

.form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: $font-size-xsmall;
  font-weight: 600;
  color: $secondary-color;
  margin-bottom: 2vh;
}

.form-control {
  width: 20vw;
  padding: 0.5vh;
  font-size: $font-size-xsmall;
  border: 1px solid $secondary-color;
  border-radius: 4px;
}

.form-actions {
  display: flex;
  align-items: center;
  gap: 1vw;

  mat-icon {
    margin-top: 2.2vh;
    height: auto;
  }
}

.select-icon-container {
  position: relative;
  display: inline-block;
  width: 100%;

  select {
    width: 100%;
    padding-right: 30px;
  }

  .select-icon {
    position: absolute;
    right: 0px;
    height: 4.1vh;
    width: auto;
    margin-top: -4.1vh;
  }
}

.dropdown-container {
  display: flex;
  gap: 1vh;
}

// Dynamic Reports Container
.dynamic-reports-container {
  display: flex;
  flex-direction: row;
}

.column {
  padding: 10px;
  height: 71vh;
  box-sizing: border-box;
}

.questionnaire-column {
  flex-basis: 23vw;
  max-width: 23vw;
  min-width: 23vw;
}

.vendors-column,
.response-column {
  flex-basis: 15vw;
  max-width: 15vw;
  min-width: 15vw;
}

.answers-column {
  flex: 1;
  max-width: unset;
  height: 71vh;
  overflow-x: auto;
  scrollbar-width: none;
}

.column:not(:last-child) {
  margin-right: 10px;
}

.cancel-icon {
  cursor: pointer;
  float: right;
}

.restore-buttons-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}
