<div *ngFor="let status of statuses">
    <h2>{{ status.statusName }}</h2>
    <ul>
        <li *ngFor="let questionnaire of questionnaires[status.statusName]" (click)="openResponseModal(questionnaire.assignmentID!)">
            Assignment ID: {{ questionnaire.assignmentID }} | Vendor Name: {{ questionnaire.vendorName }} | Questionnaire ID: {{ questionnaire.questionnaireID }} | Due Date: {{ questionnaire.dueDate }} | Submission Date: {{ questionnaire.submissionDate }}
        </li>
    </ul>
</div>