@import '../../style/common.scss';

// Common variables
$color-sub-menu-background: #eaf4f8;
$color-sub-menu-hover: #000000;
$font-size-base: 2.75vh;
$font-size-small: 1rem;
$padding-base: 0.5vh;
$transition-time: 0.3s;
$nav-icon-size: 2.75vh;
$nav-icon-size-responsive: 3vw;
$nav-icon-size-small: 2vw;
$gap: 35vh;

// Base styles
.navbar {
  position: relative;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  color: $secondary-color;
  transition: color $transition-time;
}

.nav-icon {
  width: $nav-icon-size;
  height: auto;
  fill: $secondary-color;
  transition: fill $transition-time;
}

.nav-label {
  font-size: $font-size-base;
  transition: color 0.1s;
}

// Hover effects
.nav-link:hover {
  color: $highlight-color;

  .nav-icon {
    fill: $highlight-color;
  }

  .nav-label {
    color: $highlight-color;
  }
}

// Active nav item styles
.nav-link.active {
  background-color: $tertiary-color;
  color: $highlight-color;

  .nav-icon {
    fill: $highlight-color;
  }

  .nav-label {
    color: $highlight-color;
  }
}

// Responsive styles for smaller screens
@media (max-width: 992px) {
  .nav-icon {
    width: $nav-icon-size-responsive;
    height: $nav-icon-size-responsive;
  }
}

@media (max-width: 992px) and (max-height: 576px) {
  .nav-icon {
    width: $nav-icon-size-small;
    height: auto;
  }

  .nav-label {
    font-size: $font-size-small;
  }
}

// Sub-panel styles
.nav-item-container {
  position: relative;
  width: 100%;
}

.sub-panel {
  position: absolute;
  top: 100%;
  background-color: $color-sub-menu-background;
  box-shadow: $box-shadow;
  z-index: 1000;
  margin-top: 15px;
  padding: 10px 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: $gap;
}

// Styling each sub-panel item
.sub-menu-link {
  font-size: $font-size-small;
  padding: $padding-base 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  color: $secondary-color;
  transition: color $transition-time;
}

// Hover effect for sub-panel items
.sub-menu-link:hover {
  color: $color-sub-menu-hover;
  font-weight: bold;
  text-decoration-line: underline;
}

// Sub-panel link text
.sub-menu-link .sub-menu-label {
  color: inherit;
  font-weight: normal;
  text-decoration: none;
  transition: color $transition-time, font-weight $transition-time, text-decoration $transition-time;
}

.sub-menu-link .sub-menu-label:hover {
  color: $color-sub-menu-hover;
  font-weight: bold;
  text-decoration-line: underline;
}
