/* Base styles */
.custom-navbar {
  position: relative; /* Position the navbar relative to allow absolute positioning of the sub-panel */
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  color: #e7f4f9;
  transition: color 0.3s;
}

.nav-icon {
  width: 1.5rem;
  height: auto;
  fill: #e7f4f9;
  transition: fill 0.3s;
}

.nav-text {
  font-size: 1.5rem;
  transition: color 0.1s;
}

/* Hover effects */
.nav-item:hover .nav-icon {
  fill: #f9a634;
}

.nav-item:hover .nav-text {
  color: #f9a634;
}

.nav-item:hover {
  color: #f9a634;
}

/* Active nav item styles */
.nav-item.active {
  background-color: #12789e;
  color: #f9a634;
}

.nav-item.active .nav-icon {
  fill: #f9a634;
}

.nav-item.active .nav-text {
  color: #f9a634;
}

/* Responsive styles for smaller screens */
@media (max-width: 992px) {
  .nav-item {
    gap: 0.25rem;
  }

  .nav-icon {
    width: 1.5rem;
    height: 1.5rem;
  }

  .nav-text {
    font-size: 1.25rem;
  }
}

/* Further reduce sizes if screensize is <= 992px width and 576px height (16:9) */
@media (max-width: 992px) and (max-height: 576px) {
  .nav-item {
    gap: 0.1rem;
  }

  .nav-icon {
    width: 1rem;
    height: 1rem;
  }

  .nav-text {
    font-size: 1rem;
  }
}
.nav-item-wrapper {
  position: relative;
  width: 100%;
}
.nav-item-wrapper:hover .sub-panel::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 10px;
  background-color: white;
  border-radius: 10px 10px 0 0;
  z-index: 11;
}

/* Sub-panel should be positioned absolutely with respect to the navbar */
.sub-panel {
  position: absolute;
  top: 100%;
  background-color: #eaf4f8;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  /*margin-top: 30px; */
}
/* Styling each sub-panel item */
.sub-panel a {
  font-size: 14px;
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  color: #e7f4f9;
  transition: color 0.3s;
}

/* Hover effect for sub-panel items */
.sub-panel a:hover {
  color: #007bff; /* Change text color on hover */
}
