/* Base styles */
.navbar {
  position: relative; /* Position the navbar relative to allow absolute positioning of the sub-panel */
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  color: #e7f4f9;
  transition: color 0.3s;
}

.nav-icon {
  width: 2vw;
  height: auto;
  fill: #e7f4f9;
  transition: fill 0.3s;
}

.nav-label {
  font-size: 1.5rem;
  transition: color 0.1s;
}

/* Hover effects */
.nav-link:hover .nav-icon {
  fill: #f9a634;
}

.nav-link:hover .nav-label {
  color: #f9a634;
}

.nav-link:hover {
  color: #f9a634;
}

/* Active nav item styles */
.nav-link.active {
  background-color: #12789e;
  color: #f9a634;
}

.nav-link.active .nav-icon {
  fill: #f9a634;
}

.nav-link.active .nav-label {
  color: #f9a634;
}

/* Responsive styles for smaller screens */
@media (max-width: 992px) {
  .nav-link {
    gap: 0.5vw;
  }

  .nav-icon {
    width: 3vw;
    height: 3vw;
  }

  .nav-label {
    font-size: 1.25rem;
  }
}

/* Further reduce sizes if screensize is <= 992px width and 576px height (16:9) */
@media (max-width: 992px) and (max-height: 576px) {
  .nav-link {
    gap: 0.2vw;
  }

  .nav-icon {
    width: 2vw;
    height: auto;
  }

  .nav-label {
    font-size: 1rem;
  }
}

.nav-item-container {
  position: relative;
  width: 100%;
}

/* Sub-panel should be positioned absolutely with respect to the navbar */

.sub-panel {
  position: absolute;
  top: 100%;
  background-color: #eaf4f8;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  margin-top: 15px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  /*margin-top: 30px; */
}

/* Styling each sub-panel item */
.sub-menu-link {
  font-size: 1rem;
  padding: 0.5vh 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  color: #e7f4f9;
  transition: color 0.3s;
}

/* Hover effect for sub-panel items */
.sub-menu-link:hover {
  color: #000000;
  font-weight: bold;
  text-decoration-line: underline; /* Change text color on hover */
}

/* Sub-panel link text */
.sub-menu-link .sub-menu-label {
  color: inherit;
  font-weight: normal;
  text-decoration: none;
  transition: color 0.3s, font-weight 0.3s, text-decoration 0.3s;
}

.sub-menu-link .sub-menu-label:hover {
  color: #000000;
  font-weight: bold;
  text-decoration-line: underline;
}
