<div class="container">
  <button class="btn-primary" (click)="onSubmit()">Add Question</button>
  <div class="row">
    <div class="col-md-6">
      <div></div>
      <div class="card mb-3">
        <div class="addusertitle">
          <h4 class="card-header">Add New Question</h4>
        </div>

        <div class="form-group">
          <label for="question">Enter Question</label>
          <input
            type="text"
            id="question"
            name="question"
            placeholder="Enter your question here"
            class="form-control"
            [(ngModel)]="questionText"
          />
        </div>

        <div class="form-group">
          <label for="helper-text">Helper Text</label>
          <input
            type="text"
            id="helper-text"
            name="helper-text"
            placeholder="Enter helper text here"
            class="form-control"
            [(ngModel)]="helperText"
          />
        </div>
        <div class="form-group">
          <label for="framework">Framework</label>
          <div class="custom-dropdown">
            <button
              type="button"
              class="btn btn-primary dropdown-toggle"
              (click)="toggleDropdown()"
            >
              {{ selectedTextFramework }}
            </button>
            <div class="dropdown-menu" [class.show]="isOpen">
              <div class="dropdown-item" *ngFor="let framework of Framework">
                <input
                  type="checkbox"
                  [id]="'framework_' + framework.frameworkID"
                  [checked]="selectedFrameworks.includes(framework.frameworkID)"
                  (change)="onOptionChangeframework($event, framework)"
                />
                <label [for]="'framework_' + framework.frameworkID">{{
                  framework.frameworkName
                }}</label>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="domain">Domain</label>
          <div class="select-icon-container">
            <select
              id="domain"
              class="form-control"
              [(ngModel)]="selectedDomainID"
            >
              <option value="">Select Domain</option>
              <option *ngFor="let domain of Domain" [value]="domain.domainID">
                {{ domain.domainName }}
              </option>
            </select>
            <mat-icon class="select-icon" svgIcon="DropdownArrow"></mat-icon>
          </div>
        </div>

        <div class="button-group">
          <button (click)="addComponent(questionTypes.SELECT_ONE)">
            Select One
          </button>
          <button (click)="addComponent(questionTypes.TEXT_BOX)">
            Text Box
          </button>
          <button (click)="addComponent(questionTypes.ATTACH_FILE)">
            Attach File
          </button>
          <button (click)="addComponent(questionTypes.DATE)">Date</button>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="back-card">
        <ng-container *ngFor="let component of selectedComponents">
          <ng-container [ngSwitch]="component.type">
            <app-QuestionType_SelectOneOption
              *ngSwitchCase="questionTypes.SELECT_ONE"
              [id]="component.id"
              (optionsChange)="handleOptionsChange($event, component.id)"
              (remove)="removeComponent(component.id)"
            ></app-QuestionType_SelectOneOption>

            <app-QuestionType_TextBox
              *ngSwitchCase="questionTypes.TEXT_BOX"
              [id]="component.id"
              (textboxChange)="handleTextboxChange($event, component.id)"
              (remove)="removeComponent(component.id)"
            ></app-QuestionType_TextBox>

            <app-QuestionType_AttachFile
              *ngSwitchCase="questionTypes.ATTACH_FILE"
              [id]="component.id"
              (fileUploadChange)="handleFileUploadChange($event, component.id)"
              (remove)="removeComponent(component.id)"
            ></app-QuestionType_AttachFile>

            <app-QuestionType_Date
              *ngSwitchCase="questionTypes.DATE"
              [id]="component.id"
              (remove)="removeComponent(component.id)"
            ></app-QuestionType_Date>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</div>
