<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card mb-3">
        <div class="addusertitle">
          <h4 class="card-header">Add New Question</h4>
        </div>

        <div class="form-group">
          <label for="question">Enter Question</label>
          <input
            type="text"
            id="question"
            name="question"
            placeholder="Enter your question here"
            class="form-control"
            [(ngModel)]="questionText"
          />
        </div>

        <div class="form-group">
          <label for="helper-text">Helper Text</label>
          <input
            type="text"
            id="helper-text"
            name="helper-text"
            placeholder="Enter helper text here"
            class="form-control"
            [(ngModel)]="helperText"
          />
        </div>
        <div class="form-group">
          <label for="framework">Framework</label>
          <select
            id="framework"
            class="form-control"
            [(ngModel)]="selectedFrameworks"
          >
            <option value="">Select Framework</option>
            <option
              *ngFor="let framework of Framework"
              [value]="framework.frameworkID"
            >
              {{ framework.frameworkName }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="domain">Domain</label>
          <select
            id="domain"
            class="form-control"
            [(ngModel)]="selectedDomainID"
          >
            <option value="">Select Domain</option>
            <option *ngFor="let domain of Domain" [value]="domain.domainID">
              {{ domain.domainName }}
            </option>
          </select>
        </div>

        <div class="button-group">
          <button (click)="addComponent(questionTypes.SELECT_ONE)">
            Select One
          </button>
          <button (click)="addComponent(questionTypes.TEXT_BOX)">
            Text Box
          </button>
          <button (click)="addComponent(questionTypes.ATTACH_FILE)">
            Attach File
          </button>
          <button (click)="addComponent(questionTypes.DATE)">Date</button>
        </div>

        <div>
          <button class="button-group" (click)="onSubmit()">Submit</button>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="back-card mb-3">
        <div class="addusertitle">
          <h4 class="card-header">Options</h4>
        </div>
        <div *ngFor="let component of selectedComponents">
          <ng-container [ngSwitch]="component.type">
            <app-QuestionType_SelectOneOption
              *ngSwitchCase="questionTypes.SELECT_ONE"
              (remove)="removeComponent(component.id)"
              (optionsChanged)="handleOptionsChange($event, component.id)"
            ></app-QuestionType_SelectOneOption>
            <app-QuestionType_TextBox
              *ngSwitchCase="questionTypes.TEXT_BOX"
              (remove)="removeComponent(component.id)"
            ></app-QuestionType_TextBox>
            <app-QuestionType_AttachFile
              *ngSwitchCase="questionTypes.ATTACH_FILE"
              (remove)="removeComponent(component.id)"
            ></app-QuestionType_AttachFile>
            <app-QuestionType_Date
              *ngSwitchCase="questionTypes.DATE"
              (remove)="removeComponent(component.id)"
            ></app-QuestionType_Date>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
