nav {
    font-size: 1rem;
    line-height: 1.25rem;
    color: #073c5a;
    margin-top: 2.5vh;
    margin-bottom: -2.5vh;
}

nav a {
    color: #073c5a;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}