// Common Variables
$primary-color: #12789e;
$secondary-color: #073c5a;
$background-color: #fff;
$border-color: #ddd;
$box-shadow: 0 0 4px rgba(7, 60, 90, 0.2);
$modal-bg-color: #fff;
$modal-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
$text-color: #fff;
$font-size-base: 16px;
$font-size-small: 1rem; // 16px
$font-size-large: 1.25rem; // 20px
$font-size-xlarge: 1.125rem; // 18px

// Common Styles
.container {
  max-width: 100%;
  margin: 0 auto;
  margin-top: 7vh;
}

.card-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $primary-color;
  border-bottom: 1px solid $border-color;
  padding: 10px 15px;
  height: 9vh;

  mat-icon {
    width: 30px;
    height: auto;
    margin-right: 20px;
  }

  h4 {
    padding-left: 20px;
  }
}

.card {
  box-shadow: $box-shadow;
  height: 65vh;
  border-radius: 8px;
}

.mb-0 {
  font-size: 2vh;
  color: $secondary-color;
  font-weight: bold;
}

.title-cat {
  font-size: $font-size-large;
}

.card-header {
  font-size: 18px;
  font-weight: bold;
  color: $text-color;
  background-color: transparent;
  border: none;
}

// Modal Styles
.modal-card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60vw;
  height: 60vh;
  z-index: 1050;
  background: $modal-bg-color;
  box-shadow: $modal-shadow;
}

.hidden {
  display: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1040;
}

.card-body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.col-md-6,
.col-md-12 {
  min-height: 65vh;
  max-height: 65vh;
  overflow-y: scroll;
  scrollbar-width: none;
}

.col-md-12 {
  margin-top: 5vh;
}
