@import '../../style/common.scss';
$shadow-color: rgba(7, 60, 90, 0.2);

mat-icon {
  height: auto;
}

.container-fluid {
  margin-top: 5.3vh;
}

.left-card {
  @include card-style;
  padding: 10px;
  height: 68vh;
  overflow-y: scroll;
  scrollbar-width: none;
  width: 36vw;
  margin-right: 2vw;
}

.box-container {
  @include flex-center;
}

.vendor-section {
  margin-bottom: 10px;
  color: $primary-color;
  font-size: 2.25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-title {
  color: $primary-color;
  font-size: 2vh;
  font-weight: bold;
}

.vendor-card {
  @include card-style;
  font-size: 2vh;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  transition: background-color 0.3s;
}
@include checkbox-style($primary-color, $highlight-color, $background-color);


.divider {
  @include divider;
}

.divider1 {
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  margin: 20px 0;
}

.box {
  width: 20px;
  height: 20px;
  border: 1px solid $primary-color;
  background-color: $background-color;
  cursor: pointer;
  position: relative;
  margin-right: 5px;

  &.selected {
    border: 2px solid $highlight-color;
    background-color: $highlight-color;

    &::after {
      content: "\2713";
      font-size: 16px;
      color: $background-color;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.custcard {
  position: relative;
  transition: all 0.3s ease;
}



.circle-container {
 @include circle-container;
}

.circle {
  margin-left: 1vw;
  @include circle;
  }


.custcard.selected .circle {
  border-color: $highlight-color;

  &::after {
    background-color: $highlight-color;
  }
}


.card-body {
  .d-flex {
    .user-status {
      flex-grow: 1;
    }
    .circle-container {
      flex-shrink: 0;
    }
  }
}

.back-card {
  @include card-style;
  margin-bottom: 2.5vh;
  overflow-y: scroll;
  scrollbar-width: none;
  height: 68vh;
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-header-container {
  @include flex-center;
  background-color: #e7f4f9;
  border-bottom: 1px solid $border-color;
  padding: 10px 15px;
  height: 9vh;
  justify-content: space-between
}

.vendor-header-container {
  @extend .card-header-container;
  width: 37vw;
  margin: -2vh;
}

.card-header {
  font-size: 1.25vw;
  font-weight: bold;
  color: $primary-color;
  background-color: transparent;
  border: none;
}

.custcard {
  @include card-style;
  margin-bottom: 6vh;
  width: auto;
  margin-top: 2vh;
  margin-left: 0.6vw;
}

.mb-3 {
  margin-top: 2vh;
}

.card-body {
  border: 1px solid transparent;
  padding: 15px;
}

.user-status {
  @include user-status;
  top: -4vh;
}

.question-status {
  @extend .user-status;
  width: 10vw;
  left: 10px;
  font-size: 1.4vh;
}

.user-details {
  @include grid;
  grid-template-columns: 1fr 3fr 5fr 2fr 1fr;
}

.detail {
  margin-top: -20px;
  @include detail;
}

.user-id-bg {
  background-color: #e7f4f9;
  padding: 10px;
  border-radius: 4px;
}

.user-ids-bg {
  background-color: $background-color;
  padding: 10px;
  border-radius: 4px;
}

.truncate {
 @include Truncate;
}

.question-category-container {
  display: flex;
}

.category-list {
  list-style-type: none;
  margin-right: 0;
  padding: 0;
  display: flex;

  li {
    margin-left: 8px;
  }
}

.btn-primary {
  @include btn-style($tertiary-color);
  height: auto;
  align-items: center;
  border: none;
  cursor: pointer;
  font-size: 2.5vh;
  border-radius: 5px;
  margin-left: auto;
  margin-bottom: 2vh;
  margin-top: -8vh;
  display: block;
  padding: 1vh;
  &:active {
    background-color: #0d4a61;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }
}

.select-questionnaire {
  position: absolute;
  top: 10px;
  right: 10px;
}

.custcard {
  position: relative;
}

.category-button {
  background: none;
  min-width: 8vw;
  max-width: 100%;
  height: auto;
  padding-top: 0.8vw;
  padding-bottom: 0.8vw;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.7vh;
  border-radius: 4px;
  white-space: nowrap;
  position: relative;
  overflow: visible;

  &:hover {
    background-color: #f0f0f0;

    .category-count {
      opacity: 1;
    }

    .category-name {
      opacity: 0;
    }
  }

  &.category-1 {
    background-color: #da3b00;
  }
  &.category-2 {
    background-color: #fe9300;
  }
  &.category-3 {
    background-color: #febb00;
  }
  &.category-4 {
    background-color: #ffe400;
  }

  .category-name,
  .category-count {
    color: $background-color;
    position: absolute;
    white-space: nowrap;
  }

  .category-name {
    opacity: 1;
    transition: opacity 0.3s ease;
  }

  .category-count {
    opacity: 0;
    transition: opacity 0.3s ease;
    right: 10px;
  }
}


.label {
  font-size: 1.5vh;
  color: #666;
  margin-bottom: 5px;
  text-align: center;
}

.input-container {
  position: relative;
  display: inline-block;
  width: 35vh;
}

.input-container mat-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.form-label {
  font-size: 2vh;
  font-weight: bold;
  color: $primary-color;
  margin-left: 1vw;
}

.form-control {
  margin-left: 1vw;
  margin-top: 1vh;
  width: 90%;
  padding: 1.5vh;
  font-size: 2vh;
  border: 1px solid $border-color;
  border-radius: 4px;
}
.icon-container {
    padding-right: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
  }
  
  .icon-container mat-icon {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    width: 3vh;
    height: auto;
    color: $primary-color;
  }
  
  .icon-container mat-icon.filter-applied {
    color: $highlight-color;
  }