<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 mt-3">
      <button class="btn btn-primary" (click)="onSubmit()">
        Assign Questionnaire
      </button>
    </div>
    <div class="left-card">
      <div class="vendor-header-container">
        <h5 class="card-header">Select</h5>
      </div>
      <div class="mb-3">
        <label for="calendar" class="form-label">Select Deadline</label>
        <div class="input-container">
          <input
            type="date"
            class="form-control"
            id="calendar"
            [(ngModel)]="deadline"
          />
          <mat-icon svgIcon="calendar"></mat-icon>
        </div>
      </div>
      <div class="divider1"></div>
      <div class="form-label">Select Vendors:</div>
      <div class="mb-3 custcard">
        <div class="card-body">
          <div *ngFor="let category of categorizedVendors">
            <div class="d-flex mb-2">
              <div class="box-container">
                <input
                  class="box"
                  type="checkbox"
                  id="category-{{ category.categoryID }}"
                  [checked]="isAllVendorsSelected(category.categoryID)"
                  (change)="toggleSelectAll(category.categoryID)"
                  [disabled]="disabledCategories.has(category.categoryID)"
                />
              </div>

              <div class="category-title">{{ category.categoryName }}</div>
              <mat-icon
                [svgIcon]="
                  isSubPartToggled(category.categoryID)
                    ? 'upArrow'
                    : 'downArrow'
                "
                (click)="toggleSubPart(category.categoryID)"
              ></mat-icon>
            </div>
            <div class="divider"></div>

            <div *ngIf="isSubPartToggled(category.categoryID)">
              <div *ngFor="let vendor of category.vendors">
                <div class="vendor-card d-flex align-items-start">
                  <div class="vendor-section">
                    <small class="label">Select</small>
                    <div class="box-container">
                      <div
                        class="box"
                        [ngClass]="{
                          selected: isVendorSelected(vendor.vendorID)
                        }"
                        (click)="
                          onVendorSelect(vendor.vendorID, category.categoryID)
                        "
                        [class.disabled]="isVendorDisabled(vendor)"
                        [style.pointer-events]="
                          isVendorDisabled(vendor) ? 'none' : 'auto'
                        "
                      ></div>
                    </div>
                  </div>
                  <div class="vendor-section">
                    <small class="label">Vendor ID</small>
                    <div class="vendor-content">
                      <small>{{ vendor.vendorID }}</small>
                    </div>
                  </div>
                  <div class="vendor-section">
                    <small class="label">Vendor Name</small>
                    <div class="vendor-content">
                      <small>{{ vendor.vendorName }}</small>
                    </div>
                  </div>
                  <div class="vendor-section">
                    <small class="label">Tier</small>
                    <div class="vendor-content">
                      <small>{{ vendor.tier?.tierName }}</small>
                    </div>
                  </div>
                  <div class="vendor-section">
                    <small class="label">Contact Number</small>
                    <div class="vendor-content">
                      <small>{{ vendor.user?.contact_Number }}</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Questionnaire Assignment Section -->
    <div class="col-md-7">
      <div class="row grid-container back-card">
        <div class="card-header-container">
          <h4 class="card-header">Questionnaire</h4>
          <div class="icon-container ml-auto">
            <mat-icon
              [ngClass]="{ 'filter-applied': isFilterApplied() }"
              svgIcon="filterIcon"
              (click)="toggleFilterVisibility()"
            ></mat-icon>
          </div>
        </div>
        <div *ngIf="isFilterVisible">
          <app-filter
            [subParts]="filterSubParts"
            (close)="closeFilter()"
            (filterChange)="onFilterChange($event)"
          ></app-filter>
        </div>
        <div
          class="col-md-12"
          *ngFor="let questionnaire of filteredquestionnaire"
        >
          <div
            class="custcard mb-3"
            [class.selected]="
              isQuestionnaireSelected(questionnaire.questionnaireID!)
            "
          >
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-start">
                <div class="user-status flex-grow-1">
                  <div class="question-category-container">
                    <div *ngIf="questionnaire.questionnaireID !== undefined">
                      <ul class="category-list">
                        <li
                          *ngFor="
                            let categoryId of getObjectKeys(
                              questionCountByCategory[
                                questionnaire.questionnaireID
                              ] || {}
                            )
                          "
                        >
                          <button
                            class="category-button"
                            [ngClass]="getCategoryClass(+categoryId)"
                          >
                            <span class="category-name">{{
                              getCategoryName(+categoryId)
                            }}</span>
                            <span class="category-count">{{
                              getQuestionCountForCategory(
                                questionnaire.questionnaireID,
                                +categoryId
                              )
                            }}</span>
                          </button>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="user-details">
                <div class="detail user-ids-bg">
                  <small>Select</small>
                  <div
                    class="circle-container"
                    (click)="
                      selectQuestionnaire(questionnaire.questionnaireID!)
                    "
                  >
                    <div class="circle"></div>
                  </div>
                </div>
                <div
                  class="detail user-id-bg"
                  matTooltip="{{ questionnaire.questionnaireID }}"
                >
                  <small>Questionnaire ID</small>
                  <div class="truncate">
                    {{ questionnaire.questionnaireID }}
                  </div>
                </div>
                <div
                  class="detail user-ids-bg"
                  matTooltip="{{ questionnaire.name }}"
                >
                  <small>Name</small>
                  <div class="truncate">{{ questionnaire.name }}</div>
                </div>
                <div
                  class="detail user-ids-bg"
                  matTooltip="{{ questionnaire.year }}"
                >
                  <small>Year</small>
                  <div class="truncate">{{ questionnaire.year }}</div>
                </div>

                <div class="detail user-ids-bg">
                  <button
                    class="btn btn-link p-0"
                    (click)="openModal(questionnaire)"
                  >
                    <mat-icon svgIcon="HelperText"></mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-ExistingQuestionnaireModal
      [isModalOpen]="isModalOpen"
      [selectedQuestionnaire]="selectedQuestionnaire"
      [domains]="domains"
      (closeModalEvent)="closeModal()"
    ></app-ExistingQuestionnaireModal>
  </div>
</div>
