@import '../../style/common.scss';

// Common variables
$add-option-bg-color: #f0f7fb;
$add-option-text-color: #333;
$font-size-add-option-btn: 14px;
$margin-bottom-form: 6vh;
$margin-top-form: 3vh;
$margin-left-form: 0.6vw;
$option-padding: 10px;
$icon-height: auto;

// Form section
.form-section {
  padding: 15px;
  border: 1px solid $border-color-form;
  border-radius: $border-radius;
  background-color: $background-color;
  box-shadow: $box-shadow;
  margin-bottom: $margin-bottom-form;
  width: 60vw;
  margin-top: $margin-top-form;
  margin-left: $margin-left-form;
}

// Header
.header {
  display: flex;
  align-items: center;
  justify-content: space-between; // This will push the icon to the right
  margin-bottom: 10px;
}

// Title
.title {
  display: flex;
  grid-column: auto;
  
  h5 {
    font-weight: bold;
  }
  
  mat-icon {
    height: $icon-height;
  }
}

// Delete icon
.delete-icon {
  height: $icon-height;
}

// Form group
.form-group {
  input[type="text"] {
    width: 100%;
    padding: $padding-input;
    border: 1px solid $border-color-input;
    border-radius: $border-radius-input;
    margin-bottom: 10px;
  }
}

// Option group
.option-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  
  input[type="text"] {
    flex: 1;
    max-width: $max-width-input;
    margin-right: 10px;
    padding: $padding-input;
    border: 1px solid $border-color-input;
    border-radius: $border-radius-input;
  }
  
  input[type="radio"] {
    margin-right: 10px;
  }
  
  mat-icon {
    height: $icon-height;
  }
}

// Delete button
.delete-btn {
  background: none;
  border: none;
  font-size: $font-size-delete-btn;
  cursor: pointer;
  color: $btn-danger-color;
}

// Add option button
.add-option-btn {
  background-color: $add-option-bg-color;
  border: none;
  color: $add-option-text-color;
  padding: $padding-input 15px;
  border-radius: $border-radius-input;
  cursor: pointer;
  font-size: $font-size-add-option-btn;
  display: inline-block;
}
