<div class="container">
  <div class="row">
    <!-- Submit Button on the Right -->
    <div class="submit-container">
      <button type="submit" class="btn-primary" (click)="onSubmit()">
        Submit Questionnaire
      </button>
    </div>
    <div class="col-md-4">
      <div class="card mb-3">
        <div class="card-header-container">
          <h5 class="card-header">Details</h5>
        </div>
        <div class="card-body">
          <div class="mb-3">
            <label for="inputField" class="form-label"
              >Name of Questionnaire</label
            >
            <input
              type="text"
              class="form-control"
              id="inputField"
              placeholder="Enter text here"
              [(ngModel)]="questionnaireName"
            />
            <label for="inputField" class="form-label"
              >Questionnaire Year</label
            >
            <input
              type="number"
              class="form-control"
              id="inputField"
              placeholder="Enter text here"
              [(ngModel)]="questionnaireYear"
            />
          </div>
          <!-- Calendar -->
          <div class="mb-3">
            <label for="calendar" class="form-label">Select Deadline</label>
            <div class="input-container">
              <input
                type="date"
                class="form-control"
                id="calendar"
                [(ngModel)]="deadline"
              />
              <mat-icon svgIcon="calendar"></mat-icon>
            </div>
          </div>
          <div class="deadline-divider"></div>
          <div>
            <label for="select_category" class="form-label"
              >Selected Category:&nbsp;</label
            >
            <span>{{ getFirstCategoryName() }}</span>
          </div>
          <div>
            <label for="select_framework" class="form-label"
              >Selected Framework :</label
            >
            <span>{{ this.frameworkName }}</span>
          </div>
          <label for="select_vendor" class="form-label"
            >Selected Vendors :</label
          ><br />
          <div class="bubble-container">
            <button
              class="bubble"
              data-toggle="tooltip"
              data-placement="top"
              *ngFor="let name of vendorName"
              matTooltip="{{ name }}"
            >
              {{ name }}
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card mb-3">
        <div class="card-header-container">
          <h5 class="card-header">Questions</h5>
          <div class="icon-container">
            <mat-icon
              [ngClass]="{ 'filter-applied': isFilterApplied() }"
              svgIcon="filterIcon"
              (click)="toggleFilterVisibility()"
            ></mat-icon>
          </div>
        </div>
        <div *ngFor="let domainID of domainIDs">
          <div class="box-container">
            <div class="checkbox-option">
              <input
                type="checkbox"
                [checked]="areAllQuestionsInDomainSelected(domainID)"
                (change)="onDomainSelectionChange(domainID, $event)"
              />
            </div>
            <h5 class="domain-header">{{ getDomainName(domainID) }}</h5>
            <mat-icon
              svgIcon="{{
                isSubPartToggled(domainID) ? 'upArrow' : 'downArrow'
              }}"
              (click)="toggleSubPart(domainID)"
            ></mat-icon>
          </div>
          <div class="divider"></div>
          <div
            *ngFor="let question of sortedQuestionsByDomain[domainID]"
            class="custcard mb-3"
          >
            <div class="card-body" *ngIf="isSubPartToggled(domainID)">
              <!-- Display Category Name Here -->
              <div
                class="user-status"
                [ngClass]="{
                  'tab-critical':
                    getCategoryName(question.categoryID) === 'Critical',
                  'tab-non-critical':
                    getCategoryName(question.categoryID) === 'Non-Critical',
                  'tab-others':
                    getCategoryName(question.categoryID) === 'Others'
                }"
              >
                {{ getCategoryName(question.categoryID) }}
              </div>

              <div class="user-details">
                <div class="checkbox-option">
                  <input
                    *ngIf="question.questionID !== undefined"
                    type="checkbox"
                    [checked]="selectedQuestions.includes(question.questionID)"
                    (change)="
                      onQuestionSelectionChange(question.questionID, $event)
                    "
                  />
                </div>
                <div class="detail user-id-bg">
                  <small>Question ID</small>
                  <div class="truncate">{{ question.questionID }}</div>
                </div>
                <div class="detail user-ids-bg">
                  <small>Question</small>
                  <div class="truncate">{{ question.questionText }}</div>
                </div>
                <div class="detail user-ids-bg">
                  <mat-icon>info_outline</mat-icon>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="isFilterVisible">
      <app-filter
        [subParts]="filterSubParts"
        (close)="closeFilter()"
        (filterChange)="onFilterChange($event)"
      ></app-filter>
    </div>
  </div>
</div>
