@import '../../style/common.scss';

// Common Mixins

// Styles
.custcard {
  @include card-style;
  margin-bottom: 6vh;
  width: 60vw;
  margin-top: 3vh;
  margin-left: 0.6vw;
}

.card-body {
  border: 1px solid transparent;
  padding: 15px;
  
  &:hover {
    border: 1px solid $highlight-color;
    border-radius: $border-radius;
  }
}

.user-status {
@include user-status;
  top: -4vh;
  left: 10px;
}

.user-details {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(8vw, 1fr));
  gap: 1vw;
  text-align: center;
  justify-items: space-between;
}

.detail {
  @include detail;
  margin-top: -20px;
}

.user-id-bg {
  background-color: $secondary-color;
  padding: 10px;
  border-radius: 4px;
}

.user-ids-bg {
  background-color: $background-color;
  padding: 10px;
  border-radius: 4px;
  
  mat-icon {
    padding-top: -10px;
  }
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  display: block;
}

.btn-success {
  @include btn-style($btn-success-color);
}

.btn-danger {
  @include btn-style($btn-danger-color);
}
