@import '../../style/common.scss';

// Common variables
$border-color: #063b58;
$text-color: #0a4357;
$small-box-shadow: 2px 2px 2px $shadow-color;
$font-size-title: 3vh;
$font-size-cell: 2vh;
$padding: 10px;
$spacing: 1vh;

// Main container
.main-container {
  height: 50vh;
  overflow-y: scroll;
  scrollbar-width: none;
  background-color: $background-color;
  margin-top: 5.5vh;
  box-shadow: 4px 4px 8px $shadow-color;
  border-radius: $border-radius;
}

// Title container
// Title container
.title-container {
  background-color: $secondary-color;
  height: 9vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2vw; 
  box-shadow: $small-box-shadow;

  .reports-section {
    flex: 1;
    display: flex;
    align-items: center;
  }

  .controls-section {
    display: flex;
    align-items: center;
    gap: 2vw; // Space between pagination and export icon
  }

  mat-icon {
    height: auto;
    width: 2vw;
  }
}

// Title text
.title-text {
  font-weight: bold;
  font-size: $font-size-title;
  color: $border-color;
  margin: 0; // Remove default margin
}


// Response table container
.response-table-container {
  overflow-x: auto;
  scrollbar-width: none;
  background-color: $background-color;
  border-radius: $border-radius;
  height: 60vh;
  overflow-y: scroll;
  padding: 0 3vh;
}

// Response table
.response-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 $spacing;
  table-layout: fixed;
  
  th,
  td {
    border-right: 1px solid $tertiary-color;
    color: $text-color;
    font-size: $font-size-cell;
    padding: $padding;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  th {
    background-color: $secondary-color;
    color: $text-color;
    text-align: center;
    margin: 0;
    padding: $padding;
    border-right: 1px solid $tertiary-color;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }

  thead {
    th:first-child {
      border-top-left-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
    }

    th:last-child {
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
      border-right: none;
    }
  }

  tbody {
    tr {
      background-color: $background-color;
      border-radius: $border-radius;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      margin-bottom: 3vh;

      &:first-child {
        td:first-child {
          border-top-left-radius: $border-radius;
        }
      }

      &:last-child {
        td:first-child {
          border-bottom-left-radius: $border-radius;
        }

        td:last-child {
          border-right: none;
          border-top-right-radius: $border-radius;
          border-bottom-right-radius: $border-radius;
        }
      }
    }
  }
}

// Icon Container Styles
.icon-container {
  padding-right: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
}

.icon-container mat-icon {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  width: 3vh;
  height: auto;
  color: $primary-color;
}

.icon-container mat-icon.filter-applied {
  color: $highlight-color;
}
