<div class="main-container">
  <div class="title-container">
    <div class="reports-section">
      <h1 class="title-text">Reports</h1>
    </div>
    <div class="controls-section">
      <app-pagination
        [currentPage]="currentPage"
        [totalPages]="totalPages"
        [itemsPerPage]="itemsPerPage"
        [totalItems]="totalItems"
        (pageChange)="onPageChange($event)"
        (itemsPerPageChange)="onItemsPerPageChange($event)"
      ></app-pagination>
      <mat-icon svgIcon="ExportIcon" (click)="openExportModal()"></mat-icon>
      <mat-icon
        [ngClass]="{ 'filter-applied': isFilterApplied() }"
        svgIcon="filterIcon"
        (click)="toggleFilterVisibility()"
      ></mat-icon>
    </div>
  </div>

  <app-exportDialogBox
    [selectedColumns]="selectedColumns"
    [allColumns]="allColumns"
  ></app-exportDialogBox>
  <div class="response-table-container">
    <table class="response-table">
      <thead>
        <tr>
          <th>Assignment ID</th>
          <th>Questionnaire ID</th>
          <th>Vendor Name</th>
          <th>Questionnaire Name</th>
          <th>Submission Date</th>
          <th>Due Date</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <ng-container>
          <tr *ngFor="let questionnaire of pagedQuestionnaires">
            <td
              (click)="openResponseModal(questionnaire.assignmentID!)"
              matTooltip="{{ questionnaire.assignmentID || 'N/A' }}"
            >
              {{ questionnaire.assignmentID || "N/A" }}
            </td>
            <td matTooltip="{{ questionnaire.questionnaireID || 'N/A' }}">
              {{ questionnaire.questionnaireID || "N/A" }}
            </td>
            <td matTooltip="{{ questionnaire.vendorName || 'N/A' }}">
              {{ questionnaire.vendorName || "N/A" }}
            </td>
            <td matTooltip="{{ questionnaire.questionnaireName || 'N/A' }}">
              {{ questionnaire.questionnaireName || "N/A" }}
            </td>
            <td matTooltip="{{ questionnaire.submissionDate || 'N/A' }}">
              {{ questionnaire.submissionDate || "N/A" }}
            </td>
            <td matTooltip="{{ questionnaire.dueDate || 'N/A' }}">
              {{ questionnaire.dueDate || "N/A" }}
            </td>
            <td matTooltip="{{ questionnaire.status?.statusName || 'N/A' }}">
              {{ questionnaire.status?.statusName || "N/A" }}
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
  <div *ngIf="isFilterVisible">
    <app-filter
      [subParts]="filterSubParts"
      (close)="closeFilter()"
      (filterChange)="onFilterChange($event)"
    ></app-filter>
  </div>
</div>
