<nav class="custom-navbar">
  <app-nav-item svgIcon="dashboard" text="Dashboard" href="/admin-dashboard"></app-nav-item>
  <app-nav-item svgIcon="framework" text="Framework" href="/contact"></app-nav-item>
  <app-nav-item svgIcon="vendors" text="Manage Vendors" href="/contact"></app-nav-item>
  <app-nav-item svgIcon="ques" text="Questionnaire" href="/contact"></app-nav-item>
  <app-nav-item svgIcon="users" text="Users" href="/contact"></app-nav-item>
  <app-nav-item svgIcon="reports" text="Reports" href="/contact"></app-nav-item>
</nav>

