<div class="form-section">
  <div class="header">
    <div class="title">
      <mat-icon svgIcon="calendarIcon"></mat-icon>
      <h6>Add Calender</h6>
    </div>

    <mat-icon
      svgIcon="deleteIcon"
      class="delete-icon"
      (click)="removeComponent()"
    ></mat-icon>
  </div>
  <div class="form-group">
    <input type="text" placeholder="Add Sub Question" />
  </div>
  <div class="input-container">
    <input
      type="date"
      class="form-control"
      id="calendar"
      [(ngModel)]="selectedDate"
    />
    <mat-icon svgIcon="calendar"></mat-icon>
  </div>
</div>
