.mainFooter {
  height: 4.5vh;
  width: 100%;
  position: fixed;
  bottom: 0;
  padding-bottom: 0px;
  background-color: black;
  z-index: 1001;
  display: flex;
  justify-content: center;
  align-items: center;
}

.disclaimerText {
  font-size: 16px;
  color: #ffffff;
  margin-right: 10px;
  justify-content: center;
  margin-top: 7px;
}

.Modal-Title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  color: #073c5a;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

.Modal-Title mat-icon {
  padding-bottom: 1px;
  height: 27px;
  width: auto;
}

.disclaimerModalTitle {
  font-size: 18px;
  font-weight: bold;
  color: #073c5a;
  text-align: center;
}

.mat-dialog-content {
  font-size: 16px;
  color: #073c5a;
  padding: 10px 20px;
}

.mat-icon-button {
  margin-left: auto;
  height: auto;
}
