@import '../../style/common.scss';
// Common Variables
$font-size-base: 16px;
$font-size-small: 1rem; // 16px
$font-size-medium: 1.125rem; // 18px
$font-size-large: 1.6875rem;

:root {
  font-size: $font-size-base; // Base font size for rem calculations
}

// Main Footer Styles
.mainFooter {
  height: 4.5vh;
  width: 100vw;
  position: fixed;
  bottom: 0;
  padding-bottom: 0;
  background-color: black;
  z-index: 1001;
  display: flex;
  justify-content: center;
  align-items: center;
}

// Disclaimer Text Styles
.disclaimerText {
  font-size: $font-size-small;
  color: $background-color;
  margin-right: 0.625rem; // 10px
  justify-content: center;
  margin-top: 0.4375rem; // 7px
}

// Modal Title Styles
.Modal-Title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem 0.9375rem; // 10px 15px
  color: $primary-color;
  box-shadow: $box-shadow;
}

.Modal-Title mat-icon {
  padding-bottom: 0.0625rem; // 1px
  height: $font-size-large;
  width: auto;
}

// Disclaimer Modal Title Styles
.disclaimerModalTitle {
  font-size: $font-size-medium;
  font-weight: bold;
  color: $primary-color;
  text-align: center;
}

// Mat Dialog Content Styles
.mat-dialog-content {
  font-size: $font-size-small;
  color: $primary-color;
  padding: 0.625rem 1.25rem; // 10px 20px
}

// Mat Icon Button Styles
.mat-icon-button {
  margin-left: auto;
  height: auto;
}
