.status-container {
  margin-top: 7vh;
  display: flex;
  justify-content: space-between;
  width: 92vw;
  height: 69vh;
  margin-left: -2.5vw;
  gap: 20px;
}

.status-card {
  flex: 1;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
}

.assignment-card {
  border: 1px solid #ddd;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 1vh;
  align-items: center;
  width: auto;
  margin-top: 2vh;
  margin-left: 0.6vw;
  margin-right: 0.6vw;
  padding: 15px;
}

.assignment-card:hover {
  background-color: #f0f0f0;
}

.assignment-title {
  font-size: 1.2vh; /* Adjusted */
  color: #666;
  margin-bottom: 10px;
}

.assignment-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.detail-item {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  color: #073c5a;
  margin-bottom: 5px;
  text-align: center; /* Center align the text */
  justify-content: center; /* Center the content vertically */
  align-items: center; /* Center the content horizontally */
}

.detail-item small {
  font-size: 1.7vh; /* Adjusted */
  color: #666;
  margin-bottom: 2px;
}

.detail-item span {
  font-size: 2vh; /* Adjusted */
}

.card-header-container {
  display: flex;
  align-items: center;
  background-color: #e7f4f9; /* Light blue background */
  border: 1px solid #cbd2d6; /* Light border to match the card's appearance */
  border-radius: 8px; /* Rounded corners */
  padding: 10px 15px; /* Padding for spacing */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  font-weight: bold; /* Bold text */
  height: 8vh;
  width: 46vw;
  font-size: 2.5vh;
  color: #073c5a;
}

.no-assignments {
  color: #073c5a; /* Your existing color */
  font-size: 2.5vh; /* Adjusted */
  font-weight: 500; /* Make the text semi-bold */
  text-align: center; /* Center the text */
  margin-top: 20px;
  padding: 10px;
}
