<div
  class="modal"
  tabindex="-1"
  [class.show]="isModalOpen"
  [ngStyle]="{ display: isModalOpen ? 'block' : 'none' }"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Questions for {{ selectedQuestionnaire?.name }}
        </h5>
        <mat-icon
          mat-icon-button
          mat-dialog-close
          aria-label="Close"
          svgIcon="cancelButton"
          (click)="closeModal()"
        ></mat-icon>
      </div>
      <div class="modal-body">
        <div *ngIf="questionsByDomain">
          <div *ngFor="let domainID of getObjectKeys(questionsByDomain)">
            <h6>{{ getDomainName(+domainID) }}</h6>
            <div
              *ngFor="let question of questionsByDomain[+domainID]"
              class="question-card"
            >
              <div
                class="question-status"
                [ngClass]="{
                  'tab-critical':
                    getCategoryName(question.categoryID) === 'Critical',
                  'tab-non-critical':
                    getCategoryName(question.categoryID) === 'Non-Critical',
                  'tab-others':
                    getCategoryName(question.categoryID) === 'Others'
                }"
              >
                {{ getCategoryName(question.categoryID) }}
              </div>
              <div class="question-card-content">
                <p>{{ question.questionText }}</p>
                <h4 class="question-card-title">
                  Helper Text: <small>{{ question.description }}</small>
                </h4>
              </div>
            </div>
          </div>
        </div>
        <div
          *ngIf="
            !questionsByDomain || getObjectKeys(questionsByDomain).length === 0
          "
        >
          <p>No questions available for this questionnaire.</p>
        </div>
      </div>
    </div>
  </div>
</div>
