// Variables
$background-color: #FFFFFF;
$primary-color: #073c5a;
$tertiary-color: #12789e;
$highlight-color: #F9A634;
$secondary-color: #E7F4F9;
$disabled-background-color: #A2A2A2;
$error-color: #dc3545;
$hover-color: #3F85A0;
$border-color: #ddd;
$border-color-hover: #f9a634;
$border-color-light: #ddd;
$border-radius: 8px;
$box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
$button-color:#12789e;

// Font
$text-color-primary: #073c5a;
$font-size-small: 1.7vh;
$font-size-medium: 2vh;
$font-size-large: 2.5vh;

// Status Colors
$background-color-success: #339a2d;
$background-color-inactive: #dc3545;
$btn-success-color: #28a745;
$btn-danger-color: #dc3545;

// Mixins

// Card styles
@mixin card-style {
  border: 1px solid $border-color-light;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  background-color: $background-color;
}


// Button styles
@mixin btn-style($color) {
  background-color: $color;
  border-color: $color;
  color: white;
  height:auto;
  &:hover {
    background-color: darken($color, 10%);
    border-color: darken($color, 10%);
  }
}

// Card header styles
@mixin card-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $secondary-color;
  border-bottom: 1px solid $border-color;
  padding: 10px 15px;
  font-weight: bold;
  font-size: $font-size-large;
  color: $primary-color;
}

// Form control styles
@mixin Form-control-style {
  width: 100%;
  padding: 1.5vh;
  font-size: $font-size-small;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  background-color: transparent;
  color: $text-color-primary;
}

// Mat-icon styles
@mixin mat-icon {
  width: 30px;
  height: auto;
}

// Select icon container
@mixin select-icon-container {
  position: relative;
  display: inline-block;
  width: 100%;
  select {
    width: 100%;
    padding-right: 30px;
  }
}

// Modal styles
@mixin modal-style {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1050;
  background: $modal-bg-color;
  box-shadow: $modal-shadow;
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1040;
  }
}

// Common Elements

@mixin form-group {
  font-size: $font-size-medium;
  font-weight: 600;
  color: $text-color-primary;
  padding-left:1.2vw;
  margin-bottom: 2vh;
}

@mixin btn-primary { 
  @include btn-style($primary-color);
  margin-right:none;
}

.btn-success {
  @include btn-style($btn-success-color);
}

.btn-danger {
  @include btn-style($btn-danger-color);
}


@mixin user-status {
  position: relative;
  width: 6vw;
  padding: 5px 10px;
  border-radius: 4px;
  text-align: center;
  display: inline-block;
  font-size: $font-size-small;
  color: white;

  &.active {
    background-color: $background-color-success;
  }

  &.inactive {
    background-color: $background-color-inactive;
  }
}

.custcard {
  align-items: center;
  @include card-style;
  margin-bottom: 6vh;
  width: 60vw;
  margin-top: 3vh;
  margin-left: 0.6vw;
  &:hover {
    border: 1px solid $highlight-color;
  }
}

@mixin detail {
  text-align: center;
  font-size: $font-size-medium;

  small {
    display: block;
    font-size: $font-size-small;
    color: gray;
    display: block;
  }
}

 @mixin Truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  word-wrap: break-word;
  word-break: break-all;
  max-width: 200px;
}
//satviki
@mixin grid{
  display: grid;
  text-align: center;
}
@mixin flex-center {
  display: flex;
  align-items: center;
}

@mixin circle-container {
  display: flex;
  width: auto;
  height: auto;
  cursor: pointer;
}
@mixin circle {
 
  width: 2.5vh;
  height: 2.5vh;
  border-radius: 50%;
  border: 2px solid $primary-color;
  background-color: transparent;
  position: relative;
  transition: border-color 0.3s;

  &::after {
    content: "";
    width: 1.2vh;
    height: 1.2vh;
    border-radius: 50%;
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: background-color 0.3s;
  }
}

@mixin divider {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}

@mixin checkbox-style($primary-color, $highlight-color, $background-color) {
  input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid $primary-color;
    border-radius: 3px;
    background-color: $background-color;
    cursor: pointer;
    position: relative;

    &:checked {
      background-color: $highlight-color;
      border-color: $highlight-color;

      &::after {
        content: "\2714";
        color: white;
        font-size: 16px;
        position: absolute;
        top: -2px;
        left: 3px;
      }
    }
  }
}




