<!-- Export Modal -->
<div
  class="modal fade"
  id="exportModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exportModalLabel"
  aria-hidden="true"
  [ngClass]="{ show: isModalVisible }"
  [ngStyle]="{ display: isModalVisible ? 'block' : 'none' }"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div>
          <!-- Selected Columns Section -->
          <h5>Selected Columns:</h5>
          <div class="selected-columns">
            <span class="column-tag" *ngFor="let column of selectedColumns">
              {{ column }}
              <mat-icon
                (click)="removeColumn(column)"
                svgIcon="cancelButton"
              ></mat-icon>
            </span>
          </div>
          <!-- All Columns Section -->
          <h5>All Columns:</h5>
          <div class="add-columns">
            <span
              class="column-tag add-column"
              *ngFor="let column of allColumns"
              (click)="addColumn(column)"
              [ngClass]="{ 'added-column': selectedColumns.includes(column) }"
            >
              <mat-icon
                *ngIf="!selectedColumns.includes(column)"
                svgIcon="addButton"
              ></mat-icon>
              {{ column }}
            </span>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <!-- Download Options -->
        <div class="download-options">
          <mat-icon
            svgIcon="excelIcon"
            (click)="setDownloadFormat('csv')"
            [ngClass]="{ 'selected-icon': downloadFormat === 'csv' }"
          ></mat-icon>
          <mat-icon
            svgIcon="pdfIcon"
            (click)="setDownloadFormat('pdf')"
            [ngClass]="{ 'selected-icon': downloadFormat === 'pdf' }"
          ></mat-icon>
        </div>
        <!-- Cancel Button -->
        <a
          type="button"
          class="cancell"
          data-dismiss="modal"
          (click)="isModalVisible = false"
          >Cancel</a
        >
        <!-- Download Button -->
        <button
          type="button"
          class="btn download-btn"
          [disabled]="!isDownloadable()"
          (click)="exportData()"
        >
          Download
        </button>
      </div>
    </div>
  </div>
</div>
