.modal-dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  max-width: 90vw;
  border-radius: 8px;
}

.modal-body {
  /* Customize as needed */
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  border-top: none;
}

.selected-columns,
.add-columns {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.column-tag {
  display: flex;
  align-items: center;
  background-color: #e7f4f9;
  border: 1px solid #12789e;
  border-radius: 16px;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
}

.column-tag mat-icon {
  margin-left: 5px;
  cursor: pointer;
  color: #12789e;
}

.add-column {
  background-color: #e7f4f9;
  color: #12789e;
}

.added-column {
  background-color: #e7f4f9;
  border-color: #12789e;
  color: #12789e;
}

.download-options {
  height: auto;
  display: flex;
  gap: 15px;
  align-items: center;
}

.download-options mat-icon {
  cursor: pointer;
  color: #12789e;
}

.download-options mat-icon.selected-icon {
  color: #f9a634;
}

.download-btn,
.cancel-btn {
  padding: 10px 20px;
  cursor: pointer;
}

.download-btn {
  background-color: #12789e;
  color: #ffffff;
}

.cancell {
  color: #073c5a;
  text-decoration: underline;
}
