.modal-dialog {
  display: flex;
  align-items: center; 
  justify-content: center; 
  position: fixed;
  z-index: 1;
  width: 600px; 
  height: 200px; 
  margin: 0;
  top: 20%;
  left: 20%;
  transform: translate(-20%, -20%); 
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  width: 100%;
  max-width: 600px;
  border-radius: 8px;
  overflow: hidden;
}

.modal-body {
  height: 40vh; 
  overflow-y: auto;
  scrollbar-width: none;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selected-columns {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.column-tag {
  display: inline-flex; /* Use inline-flex to make the container only as wide as its content */
  align-items: center;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 16px;
  padding: 5px 10px;
  font-size: 14px;
  gap: 1vh;
  flex-shrink: 0; /* Prevents shrinking */
  flex-grow: 0; /* Prevents the flex item from growing to take up the full width */
  margin-right: 1vh;
  margin-bottom: 0.5vh;
}

.selected-icon {
  color: #f9a634;
}


mat-icon {
  height: 24px;
  width: 24px;
  margin-left: 5px;
  cursor: pointer;
  color: #12789e;

  &:hover{
    color: #f9a634;
  }
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.download-btn,
.print-btn,
.cancel-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.download-btn {
  background-color: #12789e;
  color: #fff;

  &:hover{
    background-color: #f9a634;
  }
}



.print-btn {
  background-color: #007bff;
  color: #fff;

}

.cancel-btn {
  background-color: #12789e;
  color: #fff;
}
