/* Modal Dialog Styles */
.modal-dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

/* Modal Content Styles */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  max-width: 90vw;
  border-radius: 8px;
}

/* Modal Body Styles */
.modal-body {
  /* Customize as needed */
}

/* Modal Footer Styles */
.modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  border-top: none;
}

/* Selected Columns Styles */
.selected-columns,
.add-columns {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

/* Column Tag Styles */
.column-tag {
  display: flex;
  align-items: center;
  background-color: #e7f4f9;
  border: 1px solid #12789e;
  border-radius: 16px;
  padding: px 10px;
  font-size: 14px;
}

/* Icon Inside Column Tag Styles */
.column-tag mat-icon {
  margin-left: 5px;
  color: #888;
}

/* Add Column Tag Styles */
.add-column {
  background-color: #e7f4f9;
  color: #12789e;
}

/* Added Column Tag Styles */
.added-column {
  background-color: #e7f4f9;
  border-color: #12789e;
  color: #12789e;
}

/* Download Options Styles */
.download-options {
  height: auto;
  display: flex;
  gap: 15px;
  align-items: center;
}

/* Icon Inside Download Options Styles */
.download-options mat-icon {
  cursor: pointer;
  color: #12789e;
}

/* Selected Icon Styles */
.download-options mat-icon.selected-icon {
  color: #f9a634;
}

/* Download Button Styles */
.download-btn {
  padding: 10px 20px;
  background-color: #12789e;
  color: #ffffff;
  cursor: pointer;
}

/* Cancel Button Styles */
.cancel-btn {
  padding: 10px 20px;
  cursor: pointer;
}

.cancell {
  color: #12789e;
  text-decoration: underline;
}
