.notification {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #e7f4f9;
  color: #0a4357;
  padding: 15px;
  border-radius: 5px;
  max-width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
.notification h4 {
  margin-top: 0;
}
.notification ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
