<div class="card mb-3">
  <div class="card-header-container">
    <h4 class="card-header">
      {{ selectedUser ? "Update User" : "Add New User" }}
    </h4>
    <mat-icon
      *ngIf="selectedUser"
      type="button"
      (click)="resetSelectedUser()"
      svgIcon="reset"
    ></mat-icon>
    <mat-icon
      *ngIf="!selectedUser"
      svgIcon="uploadButton"
      (click)="toggleFileUpload()"
      type="button"
    ></mat-icon>
  </div>
  <div class="card-body">
    <form #userForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          class="form-control"
          [(ngModel)]="email"
          name="email"
          required
          email
          #emailField="ngModel"
          [ngClass]="{ 'is-invalid': emailField.invalid && emailField.touched }"
        />
        <div
          *ngIf="emailField.invalid && emailField.touched"
          class="invalid-feedback"
        >
          <div *ngIf="emailField.errors?.['required']">Email is required</div>
          <div *ngIf="emailField.errors?.['email']">
            Email must be a valid email address
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          id="name"
          class="form-control"
          [(ngModel)]="name"
          name="name"
          required
          minlength="3"
          #nameField="ngModel"
          [ngClass]="{ 'is-invalid': nameField.invalid && nameField.touched }"
        />
        <div
          *ngIf="nameField.invalid && nameField.touched"
          class="invalid-feedback"
        >
          <div *ngIf="nameField.errors?.['required']">Name is required</div>
          <div *ngIf="nameField.errors?.['minlength']">
            Name must be at least 3 characters long
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="contact_Number">Contact Number</label>
        <input
          type="text"
          id="contact_Number"
          class="form-control"
          [(ngModel)]="contactNumber"
          name="contact_Number"
          required
          minlength="10"
          maxlength="10"
          pattern="[0-9]{10}"
          #contact_NumberField="ngModel"
          [ngClass]="{
            'is-invalid':
              contact_NumberField.invalid && contact_NumberField.touched
          }"
        />
        <div
          *ngIf="contact_NumberField.invalid && contact_NumberField.touched"
          class="invalid-feedback"
        >
          <div *ngIf="contact_NumberField.errors?.['required']">
            Contact Number is required
          </div>
          <div *ngIf="contact_NumberField.errors?.['minlength']">
            Contact Number must be exactly 10 digits
          </div>
          <div *ngIf="contact_NumberField.errors?.['maxlength']">
            Contact Number must be exactly 10 digits
          </div>
          <div *ngIf="contact_NumberField.errors?.['pattern']">
            Contact Number must contain only digits
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="role">Role</label>
        <div class="select-icon-container">
          <select
            id="role"
            class="form-control"
            [(ngModel)]="role"
            name="role"
            required
            #roleField="ngModel"
            [ngClass]="{ 'is-invalid': roleField.invalid && roleField.touched }"
          >
            <option *ngFor="let roleOption of roles" [ngValue]="roleOption">
              {{ roleOption }}
            </option>
          </select>
          <mat-icon class="select-icon" svgIcon="DropdownArrow"></mat-icon>
        </div>

        <div
          *ngIf="roleField.invalid && roleField.touched"
          class="invalid-feedback"
        >
          <div *ngIf="roleField.errors?.['required']">Role is required</div>
        </div>
      </div>
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="userForm.invalid"
      >
        {{ selectedUser ? "Update User" : "Add User" }}
      </button>
    </form>
  </div>
</div>
