// Common Variables
$border-color: #ddd;
$border-radius: 8px;
$box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
$background-color-primary: #e7f4f9;
$text-color-primary: #073c5a;
$btn-primary-color: #12789e;
$btn-primary-hover-color: #0a4357;
$font-size-small: 2vh;
$font-size-large: 18px;

// Common Mixins
@mixin card-style {
  border: 1px solid $border-color;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
}

@mixin btn-primary-style {
  background-color: $btn-primary-color;
  border-color: $btn-primary-color;
  color: white;
  width: 100%;

  &:hover {
    background-color: $btn-primary-hover-color;
    border-color: $btn-primary-hover-color;
  }
}

// Styles
.card {
  @include card-style;
  margin-bottom: 2.5vh;
  margin-top: 3vh;
  overflow-y: scroll;
  scrollbar-width: none;
  width: 25vw;
  margin-left: -0.9vw;
  height: 71vh;
}

.card-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $background-color-primary;
  border-bottom: 1px solid $border-color;
  padding: 10px 15px;
  height: 9vh;

  h4 {
    padding-left: 20px;
  }

  mat-icon {
    margin-right: 20px;
    width: 30px;
    height: auto;
  }
}

.card-header {
  font-size: $font-size-large;
  font-weight: bold;
  color: $text-color-primary;
  background-color: transparent;
  border: none;
}

/* Form Styles */
.form-group {
  font-size: $font-size-small;
  font-weight: 600;
  color: $text-color-primary;
  margin-bottom: 2vh;
}

.form-control {
  width: 100%;
  padding: 1.5vh;
  font-size: $font-size-small;
  border: 1px solid rgba($text-color-primary, 0.52);
  border-radius: $border-radius;
}

.btn-primary {
  margin-top: 6vh;
  @include btn-primary-style;
}

.select-icon-container {
  position: relative;
  display: inline-block;
  width: 100%;

  select {
    width: 100%;
    padding-right: 30px; // Adjust this if needed
  }
}

.select-icon {
  position: absolute;
  right: 0;
  height: 6.2vh;
  width: auto;
  margin-top: -6.2vh;
}
