@import '../../style/common.scss';

$btn-primary-hover-color: #0a4357;
$font-size-large: 18px;

// Styles
.card {
  @include card-style;
  margin-bottom: 2.5vh;
  margin-top: 3vh;
  overflow-y: scroll;
  scrollbar-width: none;
  width: 25vw;
  margin-left: -0.9vw;
  height: 68vh;
}

.card-header-container {
  @include card-header-container;
  height: 9vh;

  h4 {
    padding-left: 20px;
  }

  mat-icon {
    @include mat-icon;
    margin-right: 20px;
  }
}

.card-header {
  font-size: $font-size-large;
  font-weight: bold;
  color: $text-color-primary;
  background-color: transparent;
  border: none;
}

/* Form Styles */
.form-group {
  font-size: $font-size-medium;
  font-weight: 600;
  color: $text-color-primary;
  margin-bottom: 2vh;
}

.form-control {
  @include Form-control-style;
}

.btn-primary {
  position: absolute;
  bottom: 0;
  background-color: $primary-color;
  border-color: $primary-color;
  color: white;
  width: 100%;
  margin-left: -2.1vh;
}

.select-icon-container {
  @include select-icon-container;
}

.select-icon {
  position: absolute;
  right: 0;
  height: 6.2vh;
  width: auto;
  margin-top: -6.2vh;
}
