@import '../../style/common.scss';
// Common variables
$border-color: #707070;
$search-border-color: #004366;
$search-tertiary-color: #004366;
$font-size-small: 16px;
$font-size-medium: 18px;

// Host element
:host {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 25%;
  background-color: $secondary-color;
  color: #0a4357;
  z-index: 1000;
  padding: 0; // Remove padding from the host element
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
}

// Filter wrapper
.filter-wrapper {
  display: flex;
  flex-direction: column;
  height: calc(100% - 50px); // Reserve space for the button container
}

// Filter title
.Filter-Title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-color: $tertiary-color;
  color: $background-color;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  position: sticky;
  top: 0; // Ensure it stays at the top when scrolling
  z-index: 1; // Ensure it is above other content
  
  h3 {
    font-size: $font-size-large;
    margin: 0;
  }

  mat-icon {
    height: auto;
    fill: $background-color;
  }
}

// Filter section wrapper
.filter-section-wrapper {
  flex: 1;
  overflow-y: auto;
  scrollbar-width: none;
  padding: 10px;
  background-color: $secondary-color;
}

// Filter section
.filter-section {
  padding: 20px;
  padding-bottom: 15px; // Space for scroll
}

// Filter header
.filter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
  border-bottom: 1px solid $border-color; // Add bottom border
  margin-bottom: 5px;

  h3 {
    font-size: $font-size-medium;
    margin: 0;
  }

  mat-icon {
    height: auto;
  }
}

// Search input
.filter-section input[type="search"] {
  width: calc(100% - 10px);
}

.search-container {
  display: flex;
  align-items: center;
  border: 1px solid $search-border-color; // Adjust border color if needed
  border-radius: 4px; // Adjust border radius if needed
  overflow: hidden;
}

.search-input {
  border: none;
  padding: 10px;
  font-size: $font-size-small;
  outline: none;
  flex: 1;
}

.search-button {
  background-color: $search-tertiary-color; // Adjust button background color
  border: none;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  mat-icon {
    fill: $background-color; // Adjust icon color
    height: auto;
  }

  &:focus,
  .search-input:focus {
    outline: none;
    box-shadow: none;
  }
}

// Checkbox and radio options
.checkbox-option,
.mcq-option {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  input {
    margin-right: 10px;
    position: relative;
  }
}

.checkbox-option input[type="checkbox"] {
  width: 20px;
  height: 20px;
  border: 2px solid $primary-color; // Default border color
  accent-color: $highlight-color; // Color of the checkbox checkmark
  appearance: none;
  background-color: #fff;

  &:checked {
    background-color: $highlight-color;
    border-color: $highlight-color;
  }

  &:checked::after {
    content: "✔";
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.mcq-option input[type="radio"] {
  width: 20px;
  height: 20px;
  border: 2px solid $primary-color; // Default border color
  border-radius: 50%;
  appearance: none;
  background-color: #fff;
  position: relative;

  &:checked {
    border-color: $highlight-color;
  }

  &:checked::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $highlight-color;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.checkbox-option.selected input[type="checkbox"],
.checkbox-option.selected label {
  color: $highlight-color;
  border-color: $highlight-color;
}

.mcq-option.selected input[type="radio"] {
  border-color: $highlight-color;
}

.mcq-option.selected input[type="radio"]::before {
  background-color: $highlight-color;
}

.mcq-option.selected label {
  color: $highlight-color;
}

// Button container
.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
  background-color: $secondary-color;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 25%;
  z-index: 2;
}

.reset-button,
.submit-button {
  width: 70%;
  padding: 10px 20px;
  background-color: $tertiary-color;
  color: $background-color;
  border: none;
  cursor: pointer;
  font-size: $font-size-small;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
}

.submit-button {
  background-color: #ffffff;
  border: 2px solid $tertiary-color;
  color: $tertiary-color;
}
