<div class="container">
    <h2>Create New Questionnaire</h2>
    <form [formGroup]="questionnaireForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-4">
                <app-FrameworkSelection [frameworks]="frameworks" (frameworkSelected)="onFrameworkSelected($event)"></app-FrameworkSelection>
            </div>
            <div class="col-md-8">
                <app-VendorSelection [categorizedVendors]="categorizedVendors" [selectedCategoryID]="selectedCategoryID" (vendorSelectionChanged)="onVendorSelectionChange($event)"></app-VendorSelection>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Create Questionnaire</button>
            </div>
        </div>
    </form>
</div>