<div class="form-section">
  <div class="header">
    <div class="title">
      <mat-icon svgIcon="singleOption"></mat-icon>
      <h6>Select One</h6>
    </div>
    <mat-icon
      svgIcon="deleteIcon"
      class="delete-icon"
      (click)="removeComponent()"
    ></mat-icon>
  </div>



  <!-- List of Options -->
  <div class="option-group" *ngFor="let option of options; let i = index">
    <!-- Display option as list instead of radio buttons -->
    <div class="option-list-item">
      <input
        type="text"
        [placeholder]="'Option ' + (i + 1)"
        [(ngModel)]="options[i]"
        (ngModelChange)="onOptionChange(i, $event)"
      />
      <mat-icon svgIcon="deleteIcon" (click)="removeOption(i)"></mat-icon>
    </div>
  </div>

  <!-- Add new option -->
  <div class="option-group">
    <input
      type="text"
      placeholder="Add new option"
      [(ngModel)]="newOption"
      (keyup.enter)="addOption()"
    />
    <button class="add-option-btn" (click)="addOption()">+</button>
  </div>
</div>
