@import '../../style/common.scss';

// Styles
.form-section {
  @include form-style;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.title {
  display: flex;
  grid-column: auto;
}

.title h5 {
  font-weight: bold;
}

.title mat-icon {
  @include icon-style;
}
.mat-icon{
  @include icon-style;
}
.delete-icon {
  @include icon-style;
}

.form-group input[type="text"] {
  @include input-style;
}

.option-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.option-group input[type="text"] {
  flex: 1;
  max-width: $max-width-input;
  margin-right: 10px;
  @include input-style;
}

.option-list-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;
}

.option-list-item input {
  flex: 1;
  margin-right: 10px;
  @include input-style;
}

.delete-btn {
  @include button-style(none, $btn-danger-color, $font-size-delete-btn);
}

.add-option-btn {
  @include button-style($tertiary-color, $background-color, 16px);
  padding: 10px 20px;
  margin-left: 20px;
  margin-right: 20px;
}
