<h2 mat-dialog-title class="Modal-Title">
  Questionnaire Responses
  <mat-icon
    mat-icon-button
    mat-dialog-close
    aria-label="Close"
    svgIcon="cancelButton"
    (click)="closeModal()"
  ></mat-icon>
</h2>

<div mat-dialog-content *ngIf="responses" class="modal-content">
    <div class="assignment-info">
        <div class="bubble">
          <span class="label">Assignment ID:</span>
          <span class="info-value">{{ responses.assignmentID }}</span>
        </div>
        <div class="bubble">
          <span class="label">Questionnaire ID:</span>
          <span class="info-value">{{ responses.questionnaireID }}</span>
        </div>
      </div>
      
  <div *ngFor="let question of responses.questions" class="question-card">
    <h4 class="question-card-title">{{ question.questionText }}</h4>
    <hr class="divider" />
    <div
      *ngFor="let option of question.optionResponses"
      class="response-option"
    >
      <p><strong>Option:</strong> {{ option.optionText }}</p>
    </div>
    <div
      *ngFor="let textBox of question.textBoxResponses"
      class="response-textbox"
    >
      <p>
        <strong>{{ textBox.label }}:</strong> {{ textBox.textValue }}
      </p>
    </div>
  </div>
</div>
