<div class="response-table-container">
  <table class="response-table">
    <thead>
      <tr class="table-row">
        <th rowspan="2" class="table-header">Vendors</th>
        <ng-container *ngFor="let question of selectedQuestion; let i = index">
          <th
            *ngIf="
              shouldDisplayQuestion(selectedQuestion, question.questionID!, i)
            "
            [attr.colspan]="
              (question.options!.length! > 0 ? 1 : 0) +
              (question.textboxes!.length! > 0
                ? question.textboxes.length
                : 0) +
              (question.fileUploads.length! > 0
                ? question.fileUploads.length
                : 0)
            "
            [matTooltip]="question.questionText"
          >
            {{ question.questionText }}
          </th>
        </ng-container>
      </tr>
      <tr>
        <ng-container *ngFor="let question of selectedQuestion; let i = index">
          <th
            *ngIf="
              shouldDisplayQuestion(
                selectedQuestion,
                question.questionID!,
                i
              ) && question.options?.length! > 0
            "
            matTooltip="Option Selection"
          >
            Option Selection
          </th>

          <ng-container
            *ngIf="
              shouldDisplayQuestion(
                selectedQuestion,
                question.questionID!,
                i
              ) &&
              question.textboxes &&
              question.textboxes.length > 0
            "
          >
            <th
              *ngFor="let textbox of question.textboxes"
              [matTooltip]="textbox.label"
            >
              {{ textbox.label }}
            </th>
          </ng-container>
          <ng-container
            *ngIf="
              shouldDisplayQuestion(
                selectedQuestion,
                question.questionID!,
                i
              ) &&
              question &&
              question.fileUploads.length > 0
            "
          >
            <th
              *ngFor="let textbox of question.fileUploads"
              [matTooltip]="textbox.label"
            >
              {{ textbox.label }}
            </th>
          </ng-container>
        </ng-container>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let response of responses">
        <td>{{ response.vendorName || "Unknown Vendor" }}</td>

        <!-- Only display answers if vendor name is valid -->
        <ng-container
          *ngIf="
            response.vendorName && response.vendorName !== 'Unknown Vendor'
          "
        >
          <ng-container
            *ngFor="let question of selectedQuestion; let i = index"
          >
            <td
              *ngIf="
                shouldDisplayQuestion(
                  selectedQuestion,
                  question.questionID!,
                  i
                ) && question.options?.length! > 0
              "
              [matTooltip]="getOptionResponse(response, question.questionID!)"
            >
              {{ getOptionResponse(response, question.questionID!) || "-" }}
            </td>
            <ng-container
              *ngIf="
                shouldDisplayQuestion(
                  selectedQuestion,
                  question.questionID!,
                  i
                ) &&
                question.textboxes &&
                question.textboxes.length > 0
              "
            >
              <td
                *ngFor="let textbox of question.textboxes"
                [matTooltip]="
                  getTextboxResponse(
                    response,
                    question.questionID!,
                    textbox.textBoxID!
                  )
                "
              >
                {{
                  getTextboxResponse(
                    response,
                    question.questionID!,
                    textbox.textBoxID!
                  ) || "-"
                }}
              </td>
            </ng-container>
            <ng-container
              *ngIf="
                shouldDisplayQuestion(
                  selectedQuestion,
                  question.questionID!,
                  i
                ) &&
                question &&
                question.fileUploads.length > 0
              "
            >
              <td
                *ngFor="let textbox of question.fileUploads"
                [matTooltip]="
                  getFileUploadResponse(
                    response,
                    question.questionID!,
                    textbox.fileUploadID!
                  )
                "
                (click)="
                  handleFileUploadResponse(
                    getFileUploadResponse(
                      response,
                      question.questionID!,
                      textbox.fileUploadID!
                    )
                  )
                "
              >
                {{
                  getFileUploadResponse(
                    response,
                    question.questionID!,
                    textbox.fileUploadID!
                  ) || "-"
                }}
              </td>
            </ng-container>
          </ng-container>
        </ng-container>
      </tr>
    </tbody>
  </table>
</div>
