.custom-navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8vh;
  background-color: #12789e;
  color: #e7f4f9;
  padding: 0 30px;
  border-radius: 8px;
  width: 100%;
}

.nav-text-container {
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
}

.nav-text {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  color: #073c5a;
  font-size: 1rem;
  transition: color 0.1s;
  background-color: transparent;
  border-color: transparent;
}

.nav-text:hover {
  font-size: 1rem;
  color: #073c5a;
  font-weight: bold;
  border-bottom: 2.5px solid #073c5a;
}

.nav-item-wrapper {
  flex: 1;
}

.custom-navbar .active {
  background-color: #12789e;
  color: #f9a634;
}

.custom-padded-content {
  padding-left: 3vw;
  padding-right: 3vw;
}
