.custom-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6rem;
  background-color: #12789e;
  color: #e7f4f9;
  padding: 0 30px;
  border-radius: 8px;
}

.custom-navbar .active {
  background-color: #12789e; /* Change this to the desired active background color */
  color: #f9a634; /* Change this to the desired active text color */
}

.custom-padded-content {
  padding-left: 71px;
  padding-right: 71px;
}

@media (max-width: 992px) {
  .custom-navbar {
    height: 4rem;
  }
}
