// Common variables
$background-color-light: #f9f9f9;
$background-color-white: #ffffff;
$border-color-light: #ccc;
$border-color-primary: #0a4357;
$border-color-secondary: #12789e;
$border-color-accent: #f9a634;
$border-radius: 8px;
$box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
$font-size-large: 18px;
$font-size-medium: 16px;
$font-size-small: 14px;
$padding-small: 10px;
$padding-medium: 20px;

// Host
:host {
  display: block;
  position: relative;
  z-index: 1001;
  background: $background-color-light;
  padding: $padding-medium;
  border-radius: $border-radius;
  border: 1px solid $border-color-light;
  box-shadow: $box-shadow;
  width: 400px;
  margin: 0 auto;
  text-align: center;
}

// Title
h3 {
  margin-bottom: 20px;
  font-size: $font-size-large;
  color: $border-color-primary;
}

// File input
input[type="file"] {
  margin-bottom: 20px;
  padding: $padding-small;
  border: 1px solid $border-color-light;
  border-radius: 4px;
  width: 100%;
  background-color: $background-color-white;
}

// Button group
.button-group {
  display: flex;
  justify-content: space-between;
}

// Buttons
button {
  padding: $padding-small $padding-medium;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: $font-size-medium;
}

// Cancel button
.cancel-button {
  background-color: $border-color-primary;
  color: $background-color-white;
  
  &:hover {
    background-color: $border-color-accent;
  }
}

// Submit button
.submit-button {
  background-color: $background-color-white;
  color: $border-color-primary;
  border: 3px solid $border-color-primary;
  border-radius: $border-radius;

  &:hover {
    background-color: $border-color-primary;
    color: $background-color-white;
  }
}

// Download button
.download-button {
  background-color: $border-color-primary;
  color: $background-color-white;
  margin-bottom: 20px;
  width: 100%;

  &:hover {
    background-color: $border-color-accent;
  }
}
