:host {
  display: block;
  position: relative;
  z-index: 1001;
  background: #f9f9f9; /* Softer background color */
  padding: 20px; /* Increased padding for better spacing */
  border-radius: 8px; /* Rounded corners */
  border: 1px solid #ccc;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* Softer shadow */
  width: 400px; /* Set a fixed width for the modal */
  margin: 0 auto; /* Center the modal */
  text-align: center; /* Center-align text */
}

h3 {
  margin-bottom: 20px;
  font-size: 18px;
  color: #073c5a;
}

input[type="file"] {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  background-color: #fff;
}

.button-group {
  display: flex;
  justify-content: space-between;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.cancel-button {
  background-color: #0a4357;
  color: white;
}

.cancel-button:hover {
  background-color: #f9a634;
}

.submit-button {
  background-color: #ffffff;
  color: #0a4357;
  border: 3px;
  border-radius: 8px;
  border-color: #0a4357;
}

.submit-button:hover {
  background-color: #0a4357;
  color: #ffffff;
}

.download-button {
  background-color: #0a4357;
  color: white;
  margin-bottom: 20px;
  width: 100%;
}

.download-button:hover {
  background-color: #f9a634;
}
